body {
    cursor:url(img/cursor.png) 5 5, auto;
    margin: 0;
    height: auto;
    background-color: black;
    z-index: -10;
}

#frame {
    position: fixed;
    width: 100vw;
    height: 100%;


}

#logo {

    width: 30vw;
    height: auto;
    position: fixed;
    top: 50vh;
    left: 35vw;
    margin-top: -15vw;

    opacity: 1;
    z-index: -6;


}

#heartbeat {
    width: 50vw;
    height: auto;
    position: fixed;
    top: 50vh;
    left: 22vw;
    margin-top: -11vw;
    opacity: 0.7;
    z-index: -8;
}

#rightNav {
    top: 0%;
    height: 100%;
    position: fixed;
    padding-left: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

#leftNav {
    top: 10%;
    height: 100%;
    position: fixed;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
}

.nav-item {
    cursor:url(img/cursor3.png)20 20, auto;
    align-self: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    transform: rotate(90deg);
}

.nav-item:hover {
    color: rgb(255, 144, 144);
}

#top{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
    z-index: -9;
}

#arrow{
    position: relative;
    margin: 0 auto;
    top:92%;
    left:48%;
    width: 4%;
}

#trigger1 {
    width: 100vw;
    height: 1px;
}

.block {
    opacity: 0;
    top: 0px;
    overflow: hidden;

    position: relative;
    width: 100vw;
    height: auto; 
    padding: 5% 0 5% 0;
    z-index: -7;

    display: flex;
    flex-direction: column;
}

.quote {
    width:60%;
    align-self: center;
    padding: 10% 0 3% 0;

    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.8em;
    font-weight: 200;
    text-overflow: clip;
    text-align: center;
    font-style: italic;

}

.imgroll{
    position: relative;
    width: 100vw;
    height: auto; 
    display:flex;
    flex-direction: column;
    z-index: -7;

}
.images {
    position: relative;
    align-self: center;
    height: auto;
    width: 100%;
    z-index: -6;

}

/* The umbilicals  */
.bgUmbs {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
}

.leftUmbs {
    cursor:url(img/cursor3.png)20 20, auto;
    
    width: 40vw;
    height: 20vw;
    position: absolute;
    
    background-image: url(img/miniUmb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: rotate(25deg);
    z-index: -10;
}

.rightUmbs{
    cursor:url(img/cursor3.png)20 20, auto;
    
    width: 40vw;
    height: 20vw;
    position: absolute;
    
    background-image: url(img/miniUmb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: rotate(125deg);
    z-index: -10;
}

/* The positioning of different floating umbilical. lu = left umbilcal, ru = right umbilical */
.lu1 {
    top: 131%;
    left:-2%;
}

.ru1 {
    top: 86%;
    left:68%;
}

.lu2 {
    top: 155%;
    left:20%;
}

.ru2 {
    top: 96%;
    left:48%;
}

.lu3 {
    top: 170%;
    left:15%;
}

.ru3 {
    top: 300%;
    left:50%;
}

.roll {
    position: absolute;
    display: inline-block;
    margin-bottom: -1.2rem;
    bottom: 0;
    border-top: #fff 2px solid;  
    border-bottom: #fff 2px solid;
    left: -5%;
    white-space: nowrap;
    overflow:hidden;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.roll ul{ 
    display:inline-block; 
    padding:0px; 
    margin:0px; 
}

.roll li{ 
    display:inline; 
    font-family: sans-serif;
    margin-right:50px; 
    font-size:2rem; 
}

.imgtext {
    width:60%;
    align-self: center;
    padding-top: 10%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    text-overflow: clip;

}

.bio {
    display: grid;
    grid-template: "a b";
    width:60%;
    align-self: center;
    padding-top: 10%;
}

.bio-card{
    margin: 3%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    text-overflow: clip;
    justify-self: center;
}

.headshot{
    align-self: center;
    width: 50%;
}

.name {
    text-align: center;
    margin-bottom:0;
}

.profession{
    margin:0;
    text-align: center;
    font-size: 0.75em;
    font-weight: 200;
    font-style: italic;
}

.bio-card p {
    text-align: justify;
    font-size: 0.6em;
    padding: 5%;
}

#contact-container {
    
    display: flex;
    flex-direction: column;

    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    z-index: 20;
}

#contact-container ul {
    margin-left: 20%;
}

#contact-container a{
    margin-bottom: 0;
    align-self: center;
    font-style: italic;
    color: white;
    text-decoration: none;
}

#contact-container h5{
    margin: 0;
    margin-top: 10%;
    align-self: center;
    font-weight: 200;
    font-size: 1.5em;
}

#sponsImgRow{
    margin: 10%;
    display: grid;
    grid-template: "a b";
    width: 90%;
    align-self: center;
}

.sponsorImg {
    margin: 8%;
    height: 70px;
    justify-self: center;
}

footer{
    width: 100vw;
    background-color: black;
    position: absolute;
    margin: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 200;

}

footer p{
    color: grey;
    margin: 1% 0 1% 3%;
}

footer a{
    text-decoration: none;
    color: white;
    cursor:url(img/cursor3.png)20 20, auto;
}

footer a:hover{
    color: rgb(255, 144, 144);
}


/* Responsivity  */


/* 4K */
@media screen and (min-width: 2000px) {
    .nav-item{
        font-size: 2em;
    }
    .roll{
        font-size: 4rem;
        margin-bottom: -2.2rem;
    }
    .roll li {
        font-size: 4rem;
    }
    .quote{
        font-size: 2.8em;
    }
    .imgtext {
        font-size: 2.5em;
    }
    .bio-card{
        font-size: 3.5em;
    }
    #contact-container {
        font-size: 2.5em;
    }
    footer{
        font-size: 2em;
    }
    .sponsorImg {
        height: 200px;
    }
}



/* Tablet */
@media screen and (max-width: 800px) {
    .nav-item{
        font-size: 0.8em;
    }
    .roll{
        font-size: 1.5rem;
        margin-bottom: -1rem;
    }
    .roll li {
        font-size: 1.5rem;
    }
    .quote{
        font-size: 1em;
    }
    .imgtext {
        font-size: 1em;
    }
    .bio-card{
        font-size: 1em;
    }
    #contact-container {
        font-size: 1em;
    }
    footer{
        font-size: 0.5em;
    }
    .sponsorImg {
        height: 50px;
    }
}

/* För screens where images will scale weirdly (quick fix) */
@media screen and (max-width: 650px) {
    .images{
        height: 100%;
        width: auto;
    }
    .imgroll{
        height: 80vh;
    }
}

/* Phone */
@media screen and (max-width: 500px) {
    #rightNav{
        padding-left: 78%;
    }
    .quote{
        font-size: 0.75em;
    }
    .imgtext {
        font-size: 0.75em;
    }
    .bio{
        grid-template: "a";
    }
    #contact-container {
        font-size: 0.5em;
    }
    .sponsorImg {
        height: 20px;
    }
}

